.box{
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  border: solid blue 2px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}
.box-contain{
display: flex;
flex-wrap: wrap;
}