.count{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.inc{
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 10px;
  margin-top: 0;
}
.dec{
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 10px;
  margin-top: 0;
}